mat-tree-node.active {
  @apply bg-slate-600;
}
mat-tree-node:hover {
  &:not(.active) {
    @apply bg-slate-800;
  }
}

.tree-icon {
  @apply mr-2;
}

.tree-item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @apply text-sm grow;
}
.nested-tree-item-container {
  flex-wrap: nowrap !important;
}
mat-tree-node {
  display: flex;
  align-items: center;
  @apply h-9 rounded-3xl p-1;
  zoom: 0.8;
}
.ffgg {
  top: -3px;
}
.aaas {
  width: 200px; /* Set a fixed width */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflow */
  text-overflow: ellipsis; /* Add the ellipsis */
}

.ebutton {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.toggle-chevron {
  margin-left: 5px;
}

@keyframes pulse {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 0 rgb(186, 0, 0);
  }
  70% {
    opacity: 0.5;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.newly-added-record {
  animation: pulse 30s linear;
}

.ddffgg {
  @apply text-sm;
  button {
    @apply text-sm;
  }
}

mat-toolbar {
  // @apply h-8 min-h-0;
  mat-toolbar-row {
    @apply px-0 h-8;
  }
}
