.app-chat-channel {
  &__container {
    // @apply min-h-96;
    @apply flex;
    min-height: 500px;
    max-height: 600px;
  }
  &__user-list {
    @apply bg-slate-500 w-52 min-w-32;
  }
  &__user-name {
    @apply px-3 overflow-hidden text-ellipsis whitespace-nowrap;
  }
  &__channel-messages {
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #888 #151316; /* thumb color and track color */
    // max-height: 300px;
    overflow-y: scroll;
    @apply bg-slate-400 px-3 grow;
    overflow-x: hidden
  }
}
