@use "@angular/material" as mat;
@use "./flex";
@use "./ext/material/index";
@use "./util.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300
      ),
      density: 0
    )
  );
}

.pulse-shadow {
  animation: pulse-shadow 12s infinite ease-in-out;
  &.loading {
    animation: pulse-shadow 2s infinite ease-in-out;
    &:hover {
      animation: pulse-shadow 1s infinite ease-in-out; // Faster animation on hover
    }
  } // Faster animation on hover
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0px 0px 10px rgba(34, 197, 94, 0.5); // Initial state
  }
  50% {
    box-shadow: 0px 0px 30px rgba(34, 197, 94, 0.8); // Intense shadow
  }
  100% {
    box-shadow: 0px 0px 10px rgba(34, 197, 94, 0.5); // Back to initial state
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  // height: 100vh; /* Full viewport height */
  // background-color: #f5f5f5; /* Optional background color */
  margin: auto;
  max-width: 800px;
  @apply m-auto self-center justify-items-center p-12 drop-shadow shadow-green-500 shadow-xl rounded-2xl rounded-t-none;
}

main > .content {
  min-height: 600px;
}

.error-theme {
  @include mat.theme(
    (
      color: mat.$red-palette,
      typography: Roboto
    )
  );
  // @include mat.snack-bar-overrides(
  //   (
  //     container-color: #f44336,
  //     supporting-text-color: white,
  //     supporting-text-weight: bold,
  //     button-color: white
  //   )
  // );
}
.success-theme {
  @include mat.snack-bar-overrides(
    (
      container-color: #41fc86,
      supporting-text-weight: bold,
      button-color: black
    )
  );
}
.warning-theme {
  @include mat.snack-bar-overrides(
    (
      container-color: #ffd700,
      supporting-text-weight: bold,
      button-color: #ff8c00
    )
  );
}
.info-theme {
  @include mat.snack-bar-overrides(
    (
      container-color: #2196f3,
      supporting-text-color: white,
      supporting-text-weight: normal,
      button-color: white
    )
  );
}

.mat-mdc-dialog-surface {
  border-radius: 6px !important;
  @apply drop-shadow-lg;
  // border-top: none !important;
  // border-left: none !important;
  border: 1px solid rgba(94, 89, 225, 0.5);
}
